:root {
  --bgColor: 255, 255, 255;
  --textColor: 0, 0, 0;
  --darkBg: 0, 0, 0;
  --greyBg: 245, 245, 245;
  --lightGreyBg: 255, 255, 255;
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  height: 100%;
}

body {
  --bgColorRgb: rgba(var(--bgColor), 1);
  --textColorRgb: rgba(var(--textColor), 1);
  --darkBgRgb: rgba(var(--darkBg), 1);
  --greyBgRgb: rgba(var(--greyBg), 1);
  --lightGreyBgRgb: rgba(var(--lightGreyBg), 1);
  font-size: 18px;
  padding: 0;
  height: 100%;
}

body .book-container {
  background-color: var(--bgColorRgb);
  color: var(--textColorRgb);
}

body .blockquote,
body .epigraph {
  background-color: var(--greyBgRgb);
}

body.dark {
  --bgColor: 0, 0, 0;
  --textColor: 255, 255, 255;
  --darkBg: 255, 255, 255;
  --greyBg: 17, 17, 17;
  --lightGreyBg: 51, 51, 51;
}

body.warm {
  --bgColor: 246, 239, 223;
  --textColor: 0, 0, 0;
  --darkBg: 239, 201, 118;
  --greyBg: 242, 228, 197;
  --lightGreyBg: 246, 239, 223;
}

.actions-menu {
  color: var(--bgColorRgb);
  -webkit-box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.actions-menu::after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-top-color: var(--textColorRgb);
  border-width: 6px;
  margin-left: -6px;
}

.actions-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.actions-menu li:first-child a {
  border-radius: 8px 0 0 8px;
}

.actions-menu li:last-child a {
  border-radius: 0 8px 8px 0;
}

.actions-menu li.unhighlight {
  display: none;
}

.actions-menu li + li a {
  border-left: 1px solid rgba(var(--bgColor), 0.2);
}

.actions-menu a {
  color: inherit;
  font-size: 0.8em;
  padding: 5px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--textColorRgb);
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.actions-menu a:hover {
  background-color: rgba(var(--textColor), 0.7);
  text-decoration: none;
}

.actions-menu.has-highlight .highlight {
  display: none;
}

.actions-menu.has-highlight .unhighlight {
  display: block;
}

.highlighted {
  background-color: #fff200ad;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

@font-face {
  font-family: "Font-Awesome";
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: url("../fonts/fa-solid-900.woff2") format("woff2");
}

@font-face {
  font-family: "Font-Awesome";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("../fonts/fa-regular-400.woff2") format("woff2");
}

@font-face {
  font-family: "Font-Awesome";
  font-style: normal;
  font-weight: 300;
  font-display: block;
  src: url("../fonts/fa-light-300.woff2") format("woff2");
}

@font-face {
  font-family: "Font-Awesome-brands";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("../fonts/fa-brands-400.woff2") format("woff2");
}

h1,
.part_number {
  -webkit-column-break-before: column;
          break-before: column;
}

.part_number + h1 {
  -webkit-column-break-before: initial;
          break-before: initial;
}

.book-container {
  padding: 6rem 0;
}

.book-wrapper {
  padding: 0 6rem 0;
  word-break: break-word;
  direction: rtl;
}

.book {
  height: calc(100vh - 12rem);
  width: 100%;
  overflow: hidden;
  outline: none;
  -webkit-column-width: 500rem;
          column-width: 500rem;
  -webkit-column-count: auto;
          column-count: auto;
  -webkit-column-gap: 6rem;
          column-gap: 6rem;
  -webkit-column-fill: balance;
          column-fill: balance;
  scrollbar-width: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.book.demo {
  position: absolute;
  left: 0;
  top: 6rem;
  right: 0;
  bottom: 6rem;
  width: auto;
  visibility: hidden;
  opacity: 0;
}

@media screen and (min-width: 1023px) {
  .book {
    -webkit-column-count: 2;
            column-count: 2;
    -webkit-column-width: inherit;
            column-width: inherit;
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.bottom-bar {
  position: fixed;
  left: 0;
  width: 100%;
  display: none;
  background-color: var(--greyBgRgb);
  color: var(--textColorRgb);
  border-top: 1px solid rgba(var(--textColor), 0.2);
  -webkit-backdrop-filter: blur(0.5rem);
  backdrop-filter: blur(0.5rem);
  padding: 1.5rem 2rem;
  bottom: 0;
}

.bottom-bar > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom-bar .btn-icon {
  font-size: 1.6rem;
}

.font-size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.font-size .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  border-right: 0.01rem solid rgba(var(--textColor), 0.2);
  border-radius: 0;
  border-bottom: 0.01rem solid rgba(var(--textColor), 0.2);
  padding: 20px;
  height: 60px;
}

.font-size .btn:last-child {
  border-right: 0;
}

.font-size .btn.disabled {
  opacity: 1;
  color: #999;
}

.font-size #pagination-font-smaller {
  font-size: 15px;
}

.font-size #pagination-font-bigger {
  font-size: 25px;
}

.font-size #pagination-font-reset {
  font-size: 20px;
}

.pagination-info {
  margin: 0 2rem;
  font-size: 1.8rem;
}

.bar-right {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bar-right button {
  margin: 0 3px;
}

.control-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 10px;
}

.control-row h5 {
  font-size: 1.8rem;
  margin-right: auto;
}

.pagination-percent {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
}

.pagination-percent > span {
  position: absolute;
  right: 0;
  top: -1px;
  height: 1px;
  background-color: #ff7a4f;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

.color-modes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.color-modes .change-color {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #ddd;
  cursor: pointer;
}

.color-modes .change-color[data-value="white"] {
  background-color: white;
  border-color: white;
}

.color-modes .change-color[data-value="white"].selected {
  border-color: black;
}

.color-modes .change-color[data-value="dark"] {
  background-color: black;
  border-color: black;
}

.color-modes .change-color[data-value="dark"].selected {
  border-color: white;
}

.color-modes .change-color[data-value="warm"] {
  background-color: #f6efdf;
  border-color: #f6efdf;
}

.color-modes .change-color[data-value="warm"].selected {
  border-color: var(--darkBgRgb);
}

.color-modes .change-color + .change-color {
  -webkit-margin-start: 10px;
          margin-inline-start: 10px;
}

.fonts {
  padding: 1rem 0;
  display: none;
}

.fonts button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-size: 1.8rem;
  color: var(--textColorRgb);
  cursor: pointer;
  padding: 1.5rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.fonts button:hover {
  background-color: rgba(var(--textColor), 0.1);
}

.fonts button.hide-fonts {
  background: none !important;
  padding: 0;
  -webkit-margin-start: 1rem;
          margin-inline-start: 1rem;
}

.selected-font-family {
  color: rgba(var(--textColor), 0.5);
  text-transform: capitalize;
  font-size: 1.6rem;
}

.selected-font-family::after {
  content: "\f054";
  font-family: "Font-Awesome";
  margin-left: 5px;
}

.change-font-family {
  width: 100%;
  padding: 1.5rem 0;
  border: 0;
  background: none;
  border-bottom: 1px solid rgba(var(--textColor), 0.2);
  line-height: 1.4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.change-font-family:last-child {
  border-bottom: 0;
}

.change-font-family.selected::after {
  content: "\f00c";
  font-family: "Font-Awesome";
  margin-left: auto;
}

.btn {
  outline: 0;
  border: 0;
  background: none;
  border-radius: 0.3rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  color: inherit;
  padding: 0;
  /*rtl:raw:
  font-family: "NotoNaskhArabic", sans-serif;
    */
}

.btn[disabled] {
  pointer-events: none;
  opacity: 0.5;
}

.btn-icon-outline-grey {
  background-color: transparent;
  border: 0.5px solid #a6a5b2;
}

.btn-text {
  color: #333;
}

.btn-text:hover {
  color: #333;
}

.btn-icon {
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-size: 2.5rem;
  background-repeat: no-repeat;
  background-position: center;
}

.btn-icon img {
  max-width: 2rem;
  max-height: 2rem;
}

.btn-link {
  border: 0;
  background-color: transparent;
}

.f-icon {
  position: relative;
  display: inline-block;
  line-height: 0;
}

.f-icon:before {
  content: "";
  display: inline-block;
  font-family: "Font-Awesome";
  font-weight: 900 !important;
  font-style: normal !important;
  font-size: inherit;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-feature-settings: "liga";
          font-feature-settings: "liga";
}

.f-icon.brand:before {
  font-family: "Font-Awesome-Brands";
  font-weight: 300 !important;
}

.f-icon.light:before {
  font-weight: 300 !important;
}

.f-icon.medium:before {
  font-weight: 500 !important;
}

.chevron-double-left-icon:before {
  content: "\f323";
}

.chevron-double-right-icon:before {
  content: "\f324";
}

.chevron-right-icon::before {
  content: "\f054";
}

.chevron-left-icon::before {
  content: "\f053";
}

.cog-icon::before {
  content: "\f013";
}

.dropdown {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.dropdown.show .dropdown-menu {
  display: block;
}

.dropdown-menu {
  position: absolute;
  bottom: 5rem;
  left: -10px;
  display: none;
  min-width: 34.9rem;
  background-color: var(--lightGreyBgRgb);
  color: var(--textColorRgb);
  border-radius: 1.4rem;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.dropdown-menu:before {
  content: "\f0d7";
  position: absolute;
  font-family: "Font-Awesome";
  color: var(--lightGreyBgRgb);
  bottom: -22px;
  left: 2rem;
  z-index: 1;
  font-weight: bold;
  font-size: 4rem;
}

.checkbox-switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin-bottom: 10px;
}

.checkbox-switch:last-child {
  margin-bottom: 0;
}

.checkbox-switch span.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin: 0;
}

.checkbox-switch span.switch input[type="checkbox"] {
  display: none;
}

.checkbox-switch span.switch input[type="checkbox"]:focus + .slider,
.checkbox-switch span.switch input[type="checkbox"]:focus + input[type="hidden"] + .slider {
  -webkit-box-shadow: 0 0 1px green;
          box-shadow: 0 0 1px green;
}

.checkbox-switch span.switch input[type="checkbox"]:checked + .slider,
.checkbox-switch span.switch input[type="checkbox"]:checked + input[type="hidden"] + .slider {
  background-color: #ff7a4f;
}

.checkbox-switch span.switch input[type="checkbox"]:checked + .slider:before,
.checkbox-switch span.switch input[type="checkbox"]:checked + input[type="hidden"] + .slider:before {
  -webkit-transform: translateX(16px);
          transform: translateX(16px);
}

.checkbox-switch span.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: gray;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-radius: 20px;
  height: 24px;
}

.checkbox-switch span.switch .slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  top: 2px;
  left: 2px;
  bottom: 0;
  background-color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-radius: 50%;
}
/*# sourceMappingURL=app.css.map */